USE [EnterpriseMadi]
GO
/****** Object:  Trigger [dbo].[rest_saldo]    Script Date: 29/10/2024 8:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[nc_libro] ON [dbo].[SAACXC] 
FOR  UPDATE
AS
IF UPDATE (codoper)
BEGIN
if (select codoper from inserted)='NC' 
begin
if (select tipocxc from inserted) = 31
begin
	update saacxc set MontoNeto=(select top 1 Monto from inserted) where nrounico=(select top 1 nrounico from inserted)
end
END
end
